/* comments */

.comments {
    margin-top:50px;
    color:#d04;
}
.comments textarea {
    width:315px;
    height:130px;
}
.comments .error {
    color:#900;
}
.comments .comment {
    margin:30px 0;
}
.comments .comment p {
    margin:10px 0;
}
.comments .comment .name {
    font-style:italic;
    color:#600;
}
.comments .comment_form {
    margin-top:40px;
}
