body, table {
    font-family: arial, monaco, monospace;
    line-height:1.4em;
}

body {
    background:rgb(25, 25, 25);
    padding:0;
    margin:0;
    color: #ddd;
}

a {
  outline:none;
    color:rgb(42, 128, 235);
    text-decoration:none;
}
a img {
    border:0;
}
a.visited {
}
a.mute {
    font-weight:normal;
    color:rgb(129, 144, 144);
}
a:hover, a.mute:hover {
    color:f0a;;
}

h1 {
    padding-top:0;
    margin-top:0;
    margin-bottom:30px;
}
h1, h2, h3, h4, h5, h6 {
    color:#666;
    font-size:1.2em;
    letter-spacing:0.2em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration:none;
    color:#666;
}
h1 a {
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
}


ul, li {
    margin:0; padding:0; list-style-type:none;
}
ol {
    margin:0;
}
ol li {
    list-style-type:decimal;
}
blockquote {
    font-family:serif;
    font-style:italic;
    font-size:1.2em;
    color:#999;
    line-height:1.3em;
    margin:0;
    padding:0;
}
pre, code {
    color:#4fa;
    line-height:1.4em;
    font-size:14px;
    font-family:menlo, monaco, "Lucida Console", monospace;
    padding:1px 5px 2px;
    background:#303030;
    border-radius:4px;
}
pre {
    padding:10px 20px;
    position:relative;
    left:-20px;
}
code {
padding:2px 6px;
}
table, td, tr {
  margin:0;
  padding:0;
}

#content {
  padding-left: 160px;
  margin-top:20px;
  padding-bottom: 20px;
}
#content.single {
    padding-top:0;
}

#nextprev {
    padding:0 50px 10px 150px;
}



#nav {
  position:fixed;
  top:0;
  left:0;
  padding:20px;
}
#nav a {
}
#nav a.mute {  font-weight: normal }
#nav li, ul.nav {
  list-style-type:none;
  padding:0 !important;
  margin:0 !important ;
}



.entry {
  padding-bottom:20px;
  margin-bottom:100px;
}
.entry .metadata {
  /*visibility:hidden;*/
}
.entry:hover .metadata{
  visibility:visible;
}
.single .entry .metadata {
  visibility:visible !important;
}

.singlebg {

}
.entry h1 {
    margin-bottom:5px;
    position:relative;
    left:-1.65em;
}
.entry h1 a {
}
.entry h1 a:hover {
}
.entry h2 {
    margin-top:40px;
}
.entry .metadata {
    margin-bottom:30px;
    color:#333;
}
.entry .metadata a {
    color:#555;
}
.entry .metadata a:hover {
    color:#999;
}
.entry .metadata .tags li {
    display:inline-block;
    margin-right:0.3em;
}
.entry p {
     max-width:720px;
}


.archive li {
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom:1px dotted #333;
}

.project {
    display:inline-block;
    margin-right:10px;
    margin-bottom:40px;
    width:120px;
    font-size:12px;
}
.thumb {
  width:100px;
  height:100px;
  border:1px dotted #000;
  overflow:hidden;

}



.column {
  padding-right:100px;
}

.image li, .bookmarks li {
    margin-bottom:40px;
}

ul.image {
    background:#131313;
    padding:20px;
}
