body { 
    padding:50px;
    font-size: 0.8em;
    font-family: sans-serif;
    line-height:1.5em;
}

a { 
    color:#999;
    text-decoration:none;
}
a img { 
    border:0; 
}
a.mute { 
    font-weight:normal;
}
a:hover, a.mute:hover { 
    color:#d15;
}

h1, h2, h3, h4, h5, h6 { 
    font-size:1em; 
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
}

ul, li { 
    margin:0; padding:0; list-style-type:none; 
}
ol { 
    margin:0;
}
ol li { 
    list-style-type:decimal; 
}
blockquote { 
    font-style:italic;
}
pre {
    line-height:1.3em;
}

#content { 
    margin-top:30px;
}

.archive li {
    font-weight:bold; 
}


.entry {
}
.entry h2 {
    margin-bottom:20px;
}
.entry .metadata { 
    margin-top:30px;
    font-style:italic; color:#777; font-size:12px;
}
.entry .metadata .tags li { 
    display:inline-block; 
    margin-right:0.3em; 
}