/* Pretty printing styles. Used with prettify.js. */

.str { color: #f26; } 
.kwd { color: #99f; font-weight:bold;  } 
.com { color: #888; font-style:italic; }
.typ { color: #f0f; }
.lit { color: #099; }
.pun { color: #66d; }
.pln { color: #ffd; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
pre.prettyprint, code.prettyprint { font-family:monaco, "Lucida Console", monospace; font-size:14px; line-height:1.5em; padding:0.4em 0.6em; background:#222333;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
}
pre.prettyprint { padding:20px; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
